<%inherit file="/base.html"/>

<script src="${STATIC_URL}client/controllers/home.js" type="text/javascript"></script>
<script src="${STATIC_URL}client/controllers/site.js" type="text/javascript"></script>
<script src="${STATIC_URL}client/controllers/Message.js" type="text/javascript"></script>

<!--图表控件-->
<script type="text/javascript" src="${STATIC_URL}js/highcharts/highcharts.js"></script>
<script type="text/javascript" src="${STATIC_URL}js/highcharts/highcharts-3d.js"></script>
<script type="text/javascript" src="${STATIC_URL}js/highcharts/exporting.js"></script>
<script type="text/javascript" src="${STATIC_URL}js/highcharts/highcharts-more.js"></script>
<script type="text/javascript" src="${STATIC_URL}js/highcharts/solid-gauge.js"></script>

<!--此处添加js-->


<!--巡检管理-->
<script type="text/javascript" src="${STATIC_URL}client/controllers/checkManagement/checkSearchCtrl.js"></script>
<script type="text/javascript" src="${STATIC_URL}client/controllers/checkManagement/checkAddCtrl.js"></script>
<script type="text/javascript" src="${STATIC_URL}client/controllers/checkManagement/checkModifyCtrl.js"></script>
<script type="text/javascript" src="${STATIC_URL}client/controllers/checkManagement/checkItemCtrl.js"></script>
<script type="text/javascript" src="${STATIC_URL}client/controllers/checkManagement/checkItemModifyCtrl.js"></script>
<script type="text/javascript" src="${STATIC_URL}client/controllers/checkManagement/selectServersCtrl.js"></script>
<script type="text/javascript" src="${STATIC_URL}client/controllers/checkManagement/customItemCtrl.js"></script>
<script type="text/javascript" src="${STATIC_URL}client/controllers/checkManagement/customItemModifyCtrl.js"></script>
<script type="text/javascript" src="${STATIC_URL}client/controllers/checkManagement/customItemAddCtrl.js"></script>
<!--巡检报告-->
<script type="text/javascript" src="${STATIC_URL}client/controllers/checkManagement/checkReportCtrl.js"></script>
<script type="text/javascript" src="${STATIC_URL}client/controllers/checkManagement/checkTotalReportCtrl.js"></script>
<!--配置管理-->
<script type="text/javascript" src="${STATIC_URL}client/controllers/configManagement/newConfigCtrl.js"></script>

<!--系统设置-->
<!--邮箱&日志-->
<script type="text/javascript" src="${STATIC_URL}client/controllers/sysManagement/customManagementCtrl.js"></script>
<script type="text/javascript" src="${STATIC_URL}client/controllers/sysManagement/addCustomCtrl.js"></script>
<script type="text/javascript" src="${STATIC_URL}client/controllers/sysManagement/mailAddCtrl.js"></script>
<script type="text/javascript" src="${STATIC_URL}client/controllers/sysManagement/mailManagementCtrl.js"></script>
<script type="text/javascript" src="${STATIC_URL}client/controllers/sysManagement/mailModifyCtrl.js"></script>
<script type="text/javascript" src="${STATIC_URL}client/controllers/sysManagement/operationLogCtrl.js"></script>
<script type="text/javascript" src="${STATIC_URL}client/controllers/settingsManagement/applicationCtrl.js"></script>
<script type="text/javascript" src="${STATIC_URL}client/controllers/settingsManagement/setConfigCtrl.js"></script>
<script type="text/javascript" src="${STATIC_URL}client/controllers/reportDetailManagement/taskReportDetailCtrl.js"></script>
<script type="text/javascript" src="${STATIC_URL}client/controllers/reportDetailManagement/reportInfoDetailCtrl.js"></script>

<!--模板管理-->
<script type="text/javascript" src="${STATIC_URL}client/controllers/moduleManagement/moduleListCtrl.js"></script>
<script type="text/javascript" src="${STATIC_URL}client/controllers/moduleManagement/moduleAddCtrl.js"></script>
<script type="text/javascript" src="${STATIC_URL}client/controllers/moduleManagement/moduleModifyCtrl.js"></script>
