<div style="width: 100%; height: 100%; padding: 5px;">
    <fieldset class="fieldsetName">
        <legend style="">查询条件</legend>
        <div class="container-fluid">
            <div style="float:left;">
                <label style="float:left;margin-top: 5px;">业务名称：</label>
                <input id="business_name" type="text" style="width:200px;" class="form-control" ng-model="condition"/>
            </div>
            <div style="float:left;margin-left:15px;">
                <button ng-click="searchObj()" class="btn btn-sm btn-info">查询</button>
            </div>
            <div style="float:right;margin-left:15px;">
                <button ng-click="add_business()"  class="btn btn-sm btn-primary">添加业务</button>
                <button style="margin-left: 10px;" ng-click="sync_business()"  class="btn btn-sm btn-primary">立即同步</button>
            </div>
        </div>
    </fieldset>
    <div cw-adaptbody="100" ng-grid="gridOption" style="overflow-x: hidden; overflow-y: auto; width: 100%"></div>
</div>