<div style="width:100%;padding:5px 5px;height: 100%;">
    <div ng-if="!taskObj.isCreated" style="overflow-y: auto;height: 100%;">
        <div class="bodyTitle">配置信息</div>
        <table class="table table-bordered">
            <tr>
                <td style="width:35%;">配置更新使用账户</td>
                <td>
                    <input type="text" class="form-control" input-hint="请输入配置更新账户"
                           ng-model="taskObj.config_account">
                </td>
            </tr>
            <tr>
                <td>历史报告保留份数
                    <span style="margin-left: 10px;" class="text-danger mt5 ">（0表示全部保留，不填默认为0）</span>
                </td>
                <td>
                    <input type="text" class="form-control" ng-model="taskObj.report_num">
                </td>
            </tr>
        </table>
        <div style="width:100%;text-align: center;padding: 10px;">
            <button ng-click="confirm()" class="btn btn-sm btn-info">保存设置</button>
            <button ng-if="!isFirst" ng-click="cancel()" style="margin-left: 5px;" class="btn btn-sm btn-default">取消
            </button>
        </div>
    </div>
    <div ng-if="taskObj.isCreated" style="overflow-y: auto;height: 100%;">
        <div class="bodyTitle">配置信息</div>
        <table class="table table-bordered">
            <tr>
                <td style="width:35%;">配置更新使用账户</td>
                <td>
                    <label ng-bind="taskObj.config_account"></label>
                </td>
            </tr>
            <tr>
                <td>历史报告保留份数
                    <span style="margin-left: 10px;font-weight: normal" class="text-danger mt5 ">（0表示全部保留）</span>
                </td>
                <td>
                    <label ng-bind="taskObj.report_num"></label>
                </td>
            </tr>
        </table>
        <div style="width:100%;text-align: center;padding: 10px;">
            <button ng-click="modifyItem()" class="btn btn-sm btn-info">修改</button>
        </div>
    </div>
</div>
