<style>
    #report_body {
        width: 100%;
        height: 100%;
        background: #fff;
        padding: 10px;
    }

    #report_body .report_box {
        width: 100%;
        height: 100%;
        margin: auto;
        background: #fff;

    }

    #report_body .report_box .report_top {
        background: #84bfff;
        height: 50px;
        text-align: center;
        line-height: 50px;
        font-size: 25px;
        font-weight: bold;
        color: #fff;
    }

    #report_body .report_box .report_nav {
        width: 100%;
        height: 120px;
        border-bottom: 1px solid #ddd;
    }

    #report_body .report_box .report_nav .logo {
        margin: 20px 30px;
        width: 80px;
        height: 80px;
        text-align: center;
        line-height: 80px;
        font-size: 40px;
        border-radius: 50%;
        background: rgb(108, 153, 229);
        color: #fff;
    }

    .title {
        font-size: 15px;
        line-height: 30px;
        margin: 25px 10px;
    }

    .title_btn {
        height: 30px;
        width: 100px;
        background: rgb(108, 153, 229);
        border: 0;
        font-size: 13px;
        margin-top: 10px;
        margin-right: 15px;
    }

    .clear {
        clear: both;
    }

    .warning {
        color: #d82525;
    }

    #report_body .report_box .report_bottom {
        height: 380px;
        overflow: auto;
        padding: 10px 20px;
    }

    #report_body .report_box .report_content {
        width: 100%;
        min-height: 50px;
        border-bottom: 1px solid #ddd;
        padding-left: 10px;
        margin-bottom: 2px;
    }

    #report_body .report_box .report_content .report_content_total {
        width: 100%;
        height: 50px;
        line-height: 50px;
        font-size: 14px;
        overflow: hidden;
    }

    #report_body .report_box .report_content .report_content_error {
        height: 0;
        margin-top: -10px;
        padding-bottom: 10px;
        color: #d82525;
    }

    .report_open {
        display: none !important;
    }
</style>
<div ng-if="ObjList=='-1'" style="margin-left:30%;margin-top: 15%">
    <h3>当前没有巡检报告，请至少执行一次巡检</h3>
</div>
<div id="report_body" ng-show="info_show" ng-if="ObjList.details.length>0">
    <div class="report_box">
        <div class="report_nav ">
            <div class="logo fl">
                <span><i class="glyphicon glyphicon-duplicate"></i></span>
            </div>
            <div class="fl title">
                <div>任务名称：{{ ObjList.task_name }}</div>
                <div>巡检时间：{{ ObjList.when_created }}</div>
            </div>
            <button class="btn btn-primary btn-sm fr title_btn" ui-sref="checkReport" ng-if="reportId">
                <i class="fa fa-mail-forward"></i>返回
            </button>
        </div>
        <div class="report_bottom">
            <div class="report_content">
                <div class="report_content_total" style="font-weight: bold">
                    <div class="col-sm-1">
                        业务ID
                    </div>
                    <div class="col-sm-2">
                        区域名称
                    </div>
                    <div class="col-sm-2">
                        服务器
                    </div>
                    <div class="col-sm-4 show_detail">
                        巡检概要
                    </div>
                    <div class="col-sm-3" ng-if="detail.error!='-1'" style="text-align: right;padding-right:60px">
                        操作
                    </div>
                </div>
            </div>
            <div class="report_content" ng-repeat="detail in ObjList.details">
                <div class="report_content_total">
                    <div class="col-sm-1">
                        <span class="fz-16">{{ detail.app_id }}</span>
                    </div>
                    <div class="col-sm-2">
                        <span class="fz-16">{{ detail.source_name }}</span>
                    </div>
                    <div class="col-sm-2">
                        <i class="fa fa-desktop "></i>
                        <span class="fz-16">{{ detail.ip }}</span>
                    </div>
                    <div class="col-sm-4 show_detail " style="cursor: pointer;" ng-click="show_total($event)">
                        <span ng-if="detail.error_count>0">巡检共发现<span class="warning">{{ detail.error_count }}</span>项异常</span>
                        <span ng-if="detail.error_count==0 && detail.error==''"><i class="fa fa-check-circle" style="color:#46C017;">本次巡检未发现问题</i></span>
                        <span ng-if="detail.error"><i class="fa fa-info-circle warning">{{ detail.error.fail_result }}</i></span>
                        <i class="glyphicon glyphicon-menu-down" title="展开显示更多" ng-if="detail.error_count>0"></i>
                    </div>
                    <div class="col-sm-3" ng-if="!detail.error" style="text-align: right;padding-right: 40px">
                        <span title="查看详情" style="color: #2277da;cursor: pointer;" ng-click="reportInfoDetail({report_id:ObjList.report_id,server:detail.ip,when_created:ObjList.when_created,report_detail_id:detail.report_detail_id})">查看详情</span>
                    </div>
                </div>
                <div class="report_content_error report_open">
                    <div class="col-sm-5"></div>
                    <div class="col-sm-4">
                        <div ng-repeat="error_info in detail.info" style="line-height: 25px;">&nbsp;
                            <i class="fa fa-exclamation-circle"></i>&nbsp;
                            {{ error_info.description }}
                        </div>
                        <div ng-if="detail.info.length>0">&nbsp</div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>


<!--报告详情-->

<style>
    .content-body {
        color: #333;
    }

    .info_menu {
        width: 100%;
        height: 160px;
        margin: 0;
        padding: 0;

    }

    .info_menu li {
        height: 150px;
        float: left;
        border: 1px solid #ddd;
        width: 25%;
        list-style-type: none;
        border-left: 0;
    }

    .info_menu_top {
        height: 40px;
        background: #f5f5f5;
        width: 100%;
        text-align: center;
        line-height: 25px;
        color: #333;
    }

    .menu_img {
        width: 40px;
        height: 40px;
        border-radius: 50px;
        border: 2px solid #ddd;
        margin: auto;
        background: #fff;
        line-height: 35px;
        font-size: 20px;
        color: #ddd;
    }

    .info_menu_title {
        width: 150px;
        margin: auto;
        text-align: left;

    }

    .fz-20 {
        font-size: 18px;
        color: #fff;
    }

    .bodyTitle {
        background: #fff;
        border: 0;
        border-bottom: 1px solid #ccc;
        cursor: pointer;
    }

    .is_show {
        display: none;
    }

    .content-body .glyphicon {
        color: #ccc;
    }

    .content-body .bodyTop .fa {
        padding-left: 5px;
    }
</style>


<div class="content-body" ng-show="!info_show">
    <div style="width:100%;margin:auto;height:60px;text-align: center;overflow: hidden;text-align: center">
        <div style="width:300px;margin:auto;float:left;margin-left:400px;">
            <span style="font-size: 20px">{{ server }}的巡检报告</span><br>
            <span>（{{ when_created }}）</span>
        </div>
        <div style="width:100px;height:100px;float:right;">
            <button class="btn btn-primary btn-sm fr title_btn" ng-click="go_back()" style="margin-top:0;margin-right:0;">
                <i class="fa fa-mail-forward"></i>返回
            </button>
            <!--<button class="btn btn-primary btn-sm" style="background:rgb(108,153,229);border:0;font-size:15px;">-->
            <!--<i class="fa fa-mail-forward"></i>返回-->
            <!--</button>-->
        </div>
    </div>
    <div style="width:100%;margin:auto;margin-bottom: 0px;" id="bodyTop">
        <ul class="info_menu">
            <li style="background:rgb(108,153,229)">
                <div style="margin:30px auto;width:100%;text-align: center">
                    <i class="fa fa-desktop" style="font-size: 60px;color:#fff;"></i>
                    <div class="fz-20">
                        {{server}}<!--的巡检报告<br>
                         <span style="font-size:14px;">（{{when_created}}）</span>-->
                    </div>
                </div>
            </li>
            <li>
                <div class="info_menu_top">
                    <span>运行状态</span>
                    <div class="menu_img">
                        <i class="fa fa-refresh"></i></i>
                    </div>
                    <div class="info_menu_title">
                        <div ng-if="errors.sys_error.partition!=''"><i class="fa fa-exclamation-circle" style="color:#d82525;">&nbsp;{{ errors.sys_error.partition }}</i></div>
                        <div ng-if="errors.sys_error.partition==''"><i class="fa fa-check-circle" style="color:#46C017;">&nbsp;磁盘空间充足</i></div>
                        <div ng-if="errors.sys_error.service!=''"><i class="fa fa-exclamation-circle" style="color:#d82525;">&nbsp;{{ errors.sys_error.service }}</i></div>
                        <div ng-if="errors.sys_error.service==''"><i class="fa fa-check-circle" style="color:#46C017;">&nbsp;系统服务正常</i></div>
                    </div>
                </div>
            </li>
            <li>
                <div class="info_menu_top">
                    <span>错误日志</span>
                    <div class="menu_img">
                        <i class="fa fa-file-excel-o"></i>
                    </div>
                    <div class="info_menu_title">
                        <div ng-if="errors.log_error.syserr!=''"><i class="fa fa-exclamation-circle" style="color:#d82525;">&nbsp;{{ errors.log_error.syserr }}</i></div>
                        <div ng-if="errors.log_error.syserr==''"><i class="fa fa-check-circle" style="color:#46C017;">&nbsp;系统错误日志</i></div>
                        <div ng-if="errors.log_error.apperr!=''"><i class="fa fa-exclamation-circle" style="color:#d82525;">&nbsp;{{ errors.log_error.apperr }}</i></div>
                        <div ng-if="errors.log_error.apperr==''"><i class="fa fa-check-circle" style="color:#46C017;">&nbsp;应用程序错误日志</i></div>
                    </div>
                </div>
            </li>
            <li>
                <div class="info_menu_top">
                    <span>性能</span>
                    <div class="menu_img">
                        <i class="fa fa-line-chart"></i>
                    </div>
                    <div class="info_menu_title" style="text-align: center">
                        <div ng-if="errors.performance_error.cpu_performance!=''"><i class="fa fa-exclamation-circle" style="color:#d82525;">&nbsp;{{ errors.performance_error.cpu_performance }}</i></div>
                        <div ng-if="errors.performance_error.cpu_performance==''"><i class="fa fa-check-circle" style="color:#46C017;">&nbsp;CPU性能良好</i></div>
                        <div ng-if="errors.performance_error.memory_performance!=''"><i class="fa fa-exclamation-circle" style="color:#d82525;">&nbsp;{{ errors.performance_error.memory_performance }}</i></div>
                        <div ng-if="errors.performance_error.memory_performance==''"><i class="fa fa-check-circle" style="color:#46C017;">&nbsp;内存性能良好</i></div>
                        <div ng-if="errors.performance_error.disk_performance!=''"><i class="fa fa-exclamation-circle" style="color:#d82525;">&nbsp;{{ errors.performance_error.disk_performance }}</i></div>
                        <div ng-if="errors.performance_error.disk_performance==''"><i class="fa fa-check-circle" style="color:#46C017;">&nbsp;磁盘性能良好</i></div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div style="width:100%;margin:auto;">
        <div>
            <div class="bodyTitle" ng-if="partition.length>0" ng-click="show($event)">
                <i class="glyphicon glyphicon-menu-right"></i>
                磁盘分区信息
            </div>
            <table style="width:100%;" class="table table-bordered is_show" ng-if="partition.length>0">
                <tr>
                    <th style="width:20%">分区名称</th>
                    <th style="width:30%">分区大小（GB）</th>
                    <th style="width:20%">剩余空间（GB）</th>
                    <th style="width:30%">剩余空间比（%）</th>
                </tr>
                <tr ng-repeat="i in partition">

                    <td ng-bind="i.data[0].value"></td>
                    <td ng-bind="i.data[1].value"></td>
                    <td ng-bind="i.data[2].value"></td>
                    <td ng-class="{true:'td_warn'}[i.data[3].is_warn]" ng-bind="i.data[3].value"></td>
                </tr>
            </table>

            <!--系统异常服务-->
            <div class="bodyTitle" ng-if="service.length>0" ng-click="show($event)">
                <i class="glyphicon glyphicon-menu-right"></i>
                系统异常服务
            </div>
            <table style="width:100%;" class="table table-bordered is_show" ng-if="service.length>0">
                <tr>
                    <th>服务名称</th>
                    <th style="width:150px">启动模式</th>
                    <th style="width:150px">运行状态</th>
                    <th style="width:150px">健康状态</th>
                </tr>
                <tr ng-repeat="i in service">
                    <td><span class="table-span" ng-bind="i.data[0].value"></span></td>
                    <td ng-bind="i.data[1].value"></td>
                    <td class="td_warn" ng-bind="i.data[2].value"></td>
                    <td ng-bind="i.data[3].value"></td>
                </tr>
            </table>

            <!--CPU性能-->
            <div class="bodyTitle" ng-if="cpu_performance.length>0" ng-click="show($event)">
                <i class="glyphicon glyphicon-menu-right"></i>
                CPU性能
            </div>
            <table style="width:100%;" class="table table-bordered is_show" ng-repeat="i in cpu_performance">
                <tr ng-repeat="info in i.data">
                    <th style="width:35%;">{{ info.cn_name }}</th>
                    <td style="width:15%;" ng-class="{true:'td_warn'}[info.is_warn]">{{ info.value }}</td>
                    <td ng-if="info.is_warn">{{ info.description }}</td>
                    <td ng-if="!info.is_warn"><i class="fa fa-check-circle" style="color:#46C017"></i>正常</td>
                </tr>
            </table>
            <div class="bodyTitle" ng-if="memory_performance.length>0" ng-click="show($event)">
                <i class="glyphicon glyphicon-menu-right"></i>
                内存性能
            </div>
            <table style="width:100%;" class="table table-bordered is_show" ng-repeat="i in memory_performance">
                <tr ng-repeat="info in i.data">
                    <th style="width:35%;">{{ info.cn_name }}</th>
                    <td style="width:15%;" ng-class="{true:'td_warn'}[info.is_warn]">{{ info.value }}</td>
                    <td ng-if="info.is_warn">{{ info.description }}</td>
                    <td ng-if="!info.is_warn"><i class="fa fa-check-circle" style="color:#46C017"></i>正常</td>
                </tr>
            </table>

            <!--磁盘性能-->
            <div class="bodyTitle" ng-if="disk_performance.length>0" ng-click="show($event)">
                <i class="glyphicon glyphicon-menu-right"></i>
                磁盘性能
            </div>
            <table style="width:100%;" class="table table-bordered is_show" ng-repeat="i in disk_performance">
                <tr ng-repeat="info in i.data">
                    <th style="width:35%;">{{ info.cn_name }}</th>
                    <td style="width:15%;" ng-class="{true:'td_warn'}[info.is_warn]">{{ info.value }}</td>
                    <td ng-if="info.is_warn">{{ info.description }}</td>
                    <td ng-if="!info.is_warn"><i class="fa fa-check-circle" style="color:#46C017"></i>正常</td>
                </tr>
            </table>

            <!--近7天系统错误日志-->
            <div class="bodyTitle" ng-if="syserr.length>0" ng-click="show($event)">
                <i class="glyphicon glyphicon-menu-right"></i>
                近7天系统错误日志
            </div>
            <div style="width:100%;" class="div-table is_show" ng-if="syserr.length>0">
                <div class="div-tr">
                    <div class="div-th" style="width:15%">事件ID</div>
                    <div class="div-th" style="width:30%">来源</div>
                    <div class="div-th" style="width:15%">类型</div>
                    <div class="div-th" style="width:12%">出现次数</div>
                    <div class="div-th" style="width:28%">最近一次出现时间</div>
                </div>
                <div style="width:100%;">
                    <div class="div-tr" ng-repeat="i in syserr">
                        <div class="div-td" style="width:15%" ng-bind="i.data[0].value"></div>
                        <div class="div-td" style="width:30%" ng-title="{{ i.data[1].value}}" ng-bind="i.data[1].value"></div>
                        <div class="div-td" style="width:15%" ng-bind="i.data[2].value"></div>
                        <div class="div-td" style="width:12%" ng-bind="i.data[3].value"></div>
                        <div class="div-td" style="width:28%" ng-bind="i.data[4].value"></div>
                    </div>
                </div>
            </div>

            <!--近7天应用程序错误日志-->
            <div class="bodyTitle" ng-if="apperr.length>0" ng-click="show($event)">
                <i class="glyphicon glyphicon-menu-right"></i>
                近7天应用程序错误日志
            </div>
            <div style="width:100%;" class="div-table is_show " ng-if="apperr.length>0">
                <div class="div-tr">
                    <div class="div-th" style="width:15%">事件ID</div>
                    <div class="div-th" style="width:30%">来源</div>
                    <div class="div-th" style="width:15%">类型</div>
                    <div class="div-th" style="width:12%">出现次数</div>
                    <div class="div-th" style="width:28%">最近一次出现时间</div>
                </div>
                <div style="width:100%;">
                    <div class="div-tr" ng-repeat="i in apperr">
                        <div class="div-td" style="width:15%" ng-bind="i.data[0].value"></div>
                        <div class="div-td" style="width:30%" ng-title="{{ i.data[1].value}}" ng-bind="i.data[1].value"></div>
                        <div class="div-td" style="width:15%" ng-bind="i.data[2].value"></div>
                        <div class="div-td" style="width:12%" ng-bind="i.data[3].value"></div>
                        <div class="div-td" style="width:28%" ng-bind="i.data[4].value"></div>
                    </div>
                </div>
            </div>

            <div class="bodyTitle" ng-if="custom_list.length>0" ng-click="show($event)">
                <i class="glyphicon glyphicon-menu-right"></i>
                自定义巡检项
            </div>
            <table ng-if="custom_list.length>0" class="table table-bordered is_show" style="margin-bottom: 0;table-layout: fixed;margin-top: 5px;">
                <tr>
                    <th style="width:200px;">巡检项</th>
                    <th>巡检结果</th>
                    <th style="width:300px;">对比值</th>
                </tr>
                <tr ng-repeat="i in custom_list">
                    <td>{{i.cn_name}}</td>
                    <td ng-class="{true:'td_warn'}[!i.is_success]" title="{{i.value}}" style="overflow: hidden;word-break: break-all;white-space: nowrap;text-overflow: ellipsis">{{i.value}}</td>
                    <td>{{i.compare_way}} {{i.compare_value}}</td>
                </tr>
            </table>
            <div style="height: 20px;"></div>
        </div>
    </div>
</div>
