<div>
    <div dragable dialog-title="查看模板"></div>
    <div style="width: 100%;height: 450px;overflow-y: auto;position: relative;">
        <div class="tab-box" style="padding-top:5px;padding-left:2px">
            <ul class="module module-tabs king-module-tabs2">
                <li class="active">
                    <a data-toggle="tab" ng-click="changeTab(1)">基本信息</a>
                </li>
                <li>
                    <a data-toggle="tab" ng-click="changeTab(2)">模板</a>
                </li>
            </ul>
        </div>
        <div ng-if="tabIndex==1" class="form-horizontal" style="padding:10px;overflow-y: auto;position: absolute;top:50px;bottom:70px;left:10px;right: 10px;">
            <div class="form-group">
                <label class="col-sm-2 control-label">模板名称：</label>
                <div class="col-sm-8" style="line-height: 30px;" ng-bind="moduleObj.name">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">说明：</label>
                <div class="col-sm-8" style="line-height: 30px;" ng-bind="moduleObj.description">
                </div>
            </div>
        </div>
        <div ng-if="tabIndex==2" style="padding:10px;overflow-y: auto;position: absolute;top:50px;bottom:70px;left:10px;right: 10px;">
            <div class="menuItem-group">
                <div ng-repeat="i in menuList" class="menuItem menuItem-default">
                    <div class="menuItem-heading">
                        <h4 class="menuItem-title">
                            <input type="checkbox" ng-model="i.is_checked" disabled/>
                            <a data-toggle="collapse" data-parent="#accordion" ng-click="openDetail(i)">
                                {{i.menu_one}}
                            </a>
                        </h4>
                    </div>
                    <div ng-class="{true:'in'}[i.isShow]" class="menuItem-collapse collapse">
                        <div class="menuItem-body">
                            <div ng-repeat="u in i.menu_two" class="menuItem menuItem-default">
                                <div class="menuItem-heading">
                                    <h4 class="menuItem-title">
                                        <input type="checkbox" ng-model="u.is_checked" disabled/>
                                        <a style="margin-left: 5px;" data-toggle="collapse" data-parent="#accordion" ng-click="openDetail(u)">
                                            {{u.name}}
                                        </a>
                                    </h4>
                                </div>
                                <div ng-class="{true:'in'}[u.isShow]" class="menuItem-collapse collapse">
                                    <div class="menuItem-body">
                                        <div ng-repeat="x in itemList|filter:{menu_two:u.name}" style="width:100%;overflow-y: auto;margin-bottom: 5px;">
                                            <input type="checkbox" style="float: left" disabled ng-model="x.is_checked"/>
                                            <label style="float:left;margin-left: 10px;">{{x.cn_name}}</label>
                                            <input disabled class="form-control" type="text" style="float:right;width:200px;" ng-model="x.value"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="menuItem menuItem-default">
                    <div class="menuItem-heading">
                        <h4 class="menuItem-title">
                            <input type="checkbox" ng-model="customObj.is_checked" disabled/>
                            <a data-toggle="collapse" data-parent="#accordion" ng-click="openDetail(customObj)">
                                自定义巡检项
                            </a>
                        </h4>
                    </div>
                    <div ng-class="{true:'in'}[customObj.isShow]" class="menuItem-collapse collapse">
                        <div class="menuItem-body">
                            <div ng-repeat="x in customItemList" style="width:100%;overflow-y: auto;margin-bottom: 5px;">
                                <input disabled type="checkbox" style="float: left" ng-model="x.is_checked"/>
                                <label style="float:left;margin-left: 10px;">{{x.cn_name}}</label>
                                <input disabled class="form-control" type="text" style="float:right;width:200px;" ng-model="x.value"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="width:100%;text-align: center;position: absolute;bottom:20px;height: 40px;">
            <button class="btn btn-sm btn-default" title="返回" ng-click="cancel()">返回
            </button>
        </div>
    </div>
</div>
