.text-danger {
    color: #a94442
}

.row-home {
    margin-right: -15px;
    margin-left: -15px;
}

.clearfix {
    display: block;
    zoom: 1;
}

.king-panel-item {
    color: #FFF;
    text-align: center;
}

.king-padding {
    padding: 20px 0;
    float: left;
    height: 100px;
}

.king-panel-left {
    padding: 30px 0 !important;
}

.king-panel-primary .king-panel-left {
    width: 30%;
    background: #7270A8;
}

.king-panel-primary .king-panel-right {
    width: 70%;
    background: #7C79B6;
}

.king-panel-info .king-panel-left {
    width: 30%;
    background: #4A9BFF;
}

.king-panel-info .king-panel-right {
    width: 70%;
    background: #64a9ff;
}

.king-panel-success .king-panel-left {
    width: 30%;
    background: #44B549;
}

.king-panel-success .king-panel-right {
    width: 70%;
    background: #54bf59;
}

.king-panel-warning .king-panel-left {
    width: 30%;
    background: #f3b760;
}

.king-panel-warning .king-panel-right {
    width: 70%;
    background: #f5c278;
}

.f24 {
    font-size: 24px !important;
}

.mt5 {
    margin-top: 5px !important;
}

.f30 {
    font-size: 30px !important;
}

.fa18 {
    font-size: 18px !important;
}

.chartClass {
    width: 49%;
    height: 400px;
    background-color: #fff;
    float: left;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

.tranchart rect {
    fill: transparent !important;
}

.bodyTitle {
    font-size: 14px;
    height: 40px;
    width: 100%;
    background-color: #e9e9e9;
    text-align: left;
    padding: 10px 10px;
    border: 1px solid #ddd;
    border-bottom: 0;
}

#host_box {
    width: 55%;
    min-width: 300px;
    margin-top: 60px;
    border: 1px solid #ccc;
    position: fixed;
    top: 0;
    bottom: 0;
    background: #fff;
    right: -1500px;
    box-shadow: 0 0 2px #ccc;
    z-index: 1000;
    padding: 20px 15px;
    margin-bottom: 0 !important;
}

#host_box .host_top {
    width: 100%;
    height: 35px;
    border-bottom: 1px solid #ccc;
}

#host_box .host_top .host_detail {
    /*color: #3c8dbc;*/
    font-size: 15px;
    line-height: 35px;
    padding: 5px;
    cursor: pointer;
    min-width: 100px;
    margin-left: 15px;
}

.select_title {
    color: #3c8dbc;
    border-bottom: 2px solid #3c8dbc;
}

#host_box .host_title {
    padding: 10px 15px;
    overflow-y: auto;
    position: absolute;
    top: 95px;
    bottom: 0;
    left: 0;
    right: 0;
}

#host_box .host_title p {
    color: #333;
    font-size: 18px;
}

#host_box .host_title i {
    color: #8f9297;
    margin: 0 10px;
}

.host_content {
    margin-left: 10px;
    padding: 10px;
    line-height: 32px;
    font-size: 14px;
    font-family: microsoft yahei, Arial, sans-serif;
    overflow-y: auto;
}

.host_content .h-name {
    color: #8f9297;
    text-align: left;
}

.host_content .h-value {
    color: #333;
    text-align: left;
}

.btn {
    min-width: 70px;
}

.form-horizontal .form-group {
    width: 100%;
}


.menuItem-group {
    margin-bottom: 20px;
}

.menuItem-group .menuItem {
    margin-bottom: 10px;
    border-radius: 4px;
}

.menuItem {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.menuItem-default {
    border-color: #ddd;
}

.menuItem .menuItem-heading {
    text-transform: uppercase;
}

.menuItem-default > .menuItem-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}

.menuItem-group .menuItem-heading {
    border-bottom: 0;
}

.menuItem-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.detail-content .detail_menuItem .menuItem-title {
    font-size: 14px;
    color: #333;
    font-weight: normal;
}

.menuItem-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}

.menuItem-title > .small, .menuItem-title > .small > a, .menuItem-title > a, .menuItem-title > small, .menuItem-title > small > a {
    color: inherit;
}

.collapse.in {
    display: block;
}

.menuItem-default > .menuItem-heading + .menuItem-collapse > .menuItem-body {
    border-top-color: #ddd;
}

.menuItem-group .menuItem-heading + .menuItem-collapse > .list-group, .menuItem-group .menuItem-heading + .menuItem-collapse > .menuItem-body {
    border-top: 1px solid #ddd;
}

.menuItem-body {
    padding: 15px;
}

.module {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.module-tabs {
    border-bottom: 1px solid #ddd;
    height: 40px;
}

.module > li {
    position: relative;
    display: block;
}

.module-tabs > li {
    float: left;
    margin-bottom: -1px;
}

.module-tabs > li.active > a, .module-tabs > li.active > a:focus, .module-tabs > li.active > a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    /*z-index: 11;*/
}

.module > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.module-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    /*border-radius: 4px 4px 0 0;*/
}

.select_servers {
    height: 350px;
    width: 100%;
    padding:0 10px;
    overflow-y: auto;
    position: relative;
}