
<div>
    <div dragable dialog-title="{{ title }}"></div>
    <div style="width: 100%;padding: 10px;" >
        <div style="padding: 9px 1px" class="container-fluid">
            <div style="float:left;margin-left: 15px;">
                <label style="float:left;margin-top: 5px;">用户名：</label>
                <input class="form-control" style="width:150px;float:left;" ng-model="filter_obj.user_name">
            </div>
            <div style="float:left;margin-left:15px;">
                <button ng-click="search_detail()" class="btn btn-sm btn-info">查询</button>
            </div>
        </div>

        <div ng-grid="gridOption" style="width:100%;overflow-x: hidden;overflow-y: auto;height: 300px;"></div>
        <div style="width:100%;margin-top: 10px;text-align: center">
            <button ng-click="confirm()" class="btn btn-sm btn-info">确认</button>&emsp;
            <button ng-click="cancel()" class="btn btn-sm btn-default">取消</button>
        </div>
    </div>
</div>