<div style="width: 100%; height: 100%; padding: 5px;">
    <fieldset class="fieldsetName">
        <legend style="">查询条件</legend>
        <div class="container-fluid">
            <div style="float:left;">
                <label style="float:left;margin-top: 5px;">任务名称：</label>
                <input id="inp_task_name_filter" type="text" style="width:200px;margin-right:10px;" class="form-control" placeholder="请输入任务名称" ng-model="taskName"/>            </div><div style="float:left;">
                <label>执行结果：</label>
                <div class="plugin3_demo" id="result_select" style="display:inline-block;">
                    <input type="hidden" class="select2_box" style="width:180px;" ng-model="Result">
                </div>
            </div>
            <div style="float:left;margin-left:15px;">
                <button ng-click="searchObj()" class="btn btn-sm btn-info">查询</button>
            </div>
        </div>
    </fieldset>
    <div cw-adaptbody="100" ng-grid="gridOption" style="overflow-x: hidden; overflow-y: auto; width: 100%;"></div>
</div>