<style>
    .dialog_custom{padding:120px;}
</style>


<div dragable dialog-title="{{ title }}" ></div>
    <div style="width: 100%;padding: 30px 20px 20px 30px;" class="dialog_custom">
        <div class="form-horizontal ">
            <div class="form-group">
                <label class="control-label col-sm-2" style="width: 100px">巡检项名称</label>
                <div class="col-sm-7">
                    <input disabled class="form-control"  placeholder="巡检项名称" type="text" ng-model="row.name">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" style="width: 100px">比较方法</label>
                <div class="col-sm-7">
                    <input disabled class="form-control" placeholder="比较方法" type="text" ng-model="row.compare_way">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" style="width: 100px">巡检标准值</label>
                <div class="col-sm-7">
                    <input class="form-control" id="value_m" placeholder="巡检标准值" type="text" ng-model="row.compare_value">
                </div>
            </div>
        </div>
        <div style="text-align: center;margin:10px ;margin-left:-40px;">
            <button class="btn btn-sm btn-info" ng-click="Save()">
                确认
            </button>
            <button style="margin-left: 20px;" class="btn btn-sm btn-message" ng-click="cancel()">
                取消
            </button>
        </div>
    </div>
</div>
