<style>
    .item_body {
        width: 100%;
        padding:10px;
        height:550px;
        overflow: auto;
        background:#fff;
    }

    .item_content{
        width:100%;
        border-top:0;
        background:#fff;
    }
    .item_body .panel-title{
        cursor: pointer;
    }
    .item_btn{
        text-align: center;
        padding-top:20px;
    }
    .item_btn a{margin:5px;}
    .item_nav{
        border-top: 0;
        height:40px;
        padding:10px ;
        padding-left: 13px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        font-weight: 800;
       /* box-shadow: 0 2px 4px rgba(52, 71, 90, .09);*/
        margin-bottom: 12px;
        border-bottom: 1px solid #337ab7;
        font-size: 13px;
        color:#333;
        background: #fff;
    }
    .item_head{
        color: #333;
        /*background-color: #f5f5f5 !important;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;*/
        background:#fff !important;
        box-sizing: border-box;
        border-bottom: 0;
    }
    .item_head2{
        color: #333;
        background-color: #f5f5f5 !important;
        border-radius: 3px;
        padding: 10px 15px;
        box-sizing: border-box;
        border:1px solid #ddd;
    }
    .item_title{
        height:40px;
        width:120px;
        display: inline-block;
        color: #337ab7;
        font-size: 13px;
        font-weight: 600;
        cursor: pointer;
    }
    .item_glyphicon{
        color: #ccc;
        margin-left:30px;

    }
    .menu{
        border:1px solid #ddd;
    }
    .open_item{
        display: none !important;
    }
    .bot_item{
        border-bottom: 1px solid #ddd;
        border-radius: 3px ;
    }
</style>
<div class="item_box">
    <div class="item_body">
      <div class="" >
            <div class="item_nav" style="font-size: 14px">
                <h4 class="panel-title">
                    <div class="col-sm-5" style="padding-left: 30px">
                        <!--<input type="checkbox"  checked=""  ng-disabled="mySwitch">-->
                        <span>巡检项</span>
                        <!--<span>（共4项，已选中4项）</span>-->
                    </div>
                    <div class="col-sm-2" style="text-align: center">
                        比较方式
                    </div>
                    <div class="col-sm-4" style="text-align: center">
                        参考值
                    </div>
                </h4>
            </div>
        </div>
        <div class="item_content">
            <div class="panel panel-default" ng-repeat="row in ObjList" style="margin-bottom: 10px;padding: 0;">
                <div class="panel-heading item_head" style="padding:0;" ng-class="{true:'bot'}[row.item.length==0]" ng-if="row.item.length>0" ng-click="show($event)">

                        <div class="col-sm-5" style="padding: 0;">
                            <span class="item_glyphicon"><i class="glyphicon glyphicon-menu-right" style="  transform: rotate(90deg);"></i></span>
                            <!--<input type="checkbox" ng-disabled="mySwitch" ng-model="row.is_show" ng-click="All({'selectAll':row.is_show,'menu_name':row.menu_name})">-->
                            <span style="" class="item_title">{{row.menu_name}}</span>
                        </div>
                        <!--<div class="col-sm-2" ng-if="row.menu_name=='磁盘性能'" style="text-align: center">
                            比较方式
                        </div>
                        <div class="col-sm-2" ng-if="row.menu_name=='磁盘性能'" style="text-align: center">
                            比较值
                        </div>-->
                </div>
                <div class="menu panel-collapse collapse in" aria-expanded="true"  ng-if="row.item.length>0" style="border-left:0;border-right:0;border-bottom: 0;">
                    <div class="panel-body">
                        <div class="form-group" style="width:100%;height:30px" ng-repeat="info in row.item">
                            <div class="col-sm-5 control-label"><!--<input type="checkbox" checked="" ng-disabled="mySwitch" id="1" ng-checked="info.menu__is_show" ng-model="info.menu__is_show" ng-click="One()">-->
                                <label>{{info.name}}</label></div>
                            <div class="col-sm-2" style="text-align: center">{{info.compare_way}}</div>
                            <div class="col-sm-4" style="text-align: center" ng-if="info.compare_way!=''"><input type="text" ng-disabled="mySwitch" ng-model="info.compare_value" style="width:250px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item_btn">
            <a  class="btn btn-sm btn-primary" title="修改" style="width:90px;" ng-if="mySwitch" ng-click="edit()">
                修改
            </a>
            <a  class="btn btn-sm btn-info" title="保存" style="width:90px;" ng-if="!mySwitch" ng-click="save(ObjList)">
                保存
            </a>
            <a class="king-btn-demo king-btn king-radius king-default" title="取消" ng-if="!mySwitch" ng-click="quit()">取消</a>
        </div>
    </div>
</div>

