<style>

.ad-config-select {
    height: 44px;
    float: left;
}

.ad-config-select div {
    cursor: pointer;
    margin: 0 20px;
    display: inline-block;
    float: left;
    min-width: 7em;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    border-bottom: 4px solid rgba(0, 0, 0, 0);
}

.title_select {
    border-bottom-color: #0090ff !important;
}

.bodyShow {
    width: 100%;
    padding: 20px 10px;
    overflow-y: auto;
    overflow-x: hidden;
}
.bodyShow div{
    width: 100%;
}
.title_1{
    color:#333;
}
.domain-select {
    height: 44px;
    float: right;
    min-width: 350px;
    line-height: 44px;
}

.domain-select label {
    float: left;
    margin-bottom: 0;
}

.domain-select select {
    float: left;
    margin-left: 10px;
    width: 250px;
    margin-top: 5px;
}

</style>
<div style="width:100%;height: 100%;padding:10px;overflow-y: auto;">
    <div style="width:100%;height: 44px;border-bottom: 1px solid #f1f1f1">
        <div class="ad-config-select">
            <!--<div class="title_1 title_select" ng-click="changeIndex(1)" ng-class="{true:'title_select'}[title_index==1]">问题服务器</div>-->
            <div class="title_1" ng-click="changeIndex(2)" ng-class="{true:'title_select'}[title_index==2]">CPU性能变化</div>
            <div class="title_1" ng-click="changeIndex(3)" ng-class="{true:'title_select'}[title_index==3]">内存性能变化</div>
            <div class="title_1" ng-click="changeIndex(4)" ng-class="{true:'title_select'}[title_index==4]">磁盘性能变化</div>
            <div class="title_1" ng-click="changeIndex(5)" ng-class="{true:'title_select'}[title_index==5]">磁盘剩余空间变化</div>
        </div>
        <div class="domain-select">
            <label>服务器：</label>
            <input class="form-control select2_box" style="width:250px;float:left;margin-top: 5px;" ng-change="changeIP()" cw-selectstr2="selectOptions" ng-model="selectItem.id" >
        </div>
    </div>
    <div class="bodyShow">
        <div ng-if="title_index==1" highcharts="serverChart" style="width:98%;"></div>
        <div ng-if="title_index==2" highcharts="cpuChart"></div>
        <!--<div ng-if="title_index==2" highcharts="cpuChart2"></div>-->
        <div ng-if="title_index==3" highcharts="memChart"></div>
        <!--<div ng-if="title_index==3" highcharts="memChart2"></div>-->
        <div ng-if="title_index==4" highcharts="diskChart"></div>
        <div ng-if="title_index==5" highcharts="diskSpaceChart"></div>
        <!--<div ng-if="title_index==4" highcharts="diskChart2"></div>-->
    </div>
</div>