<div id="check_add_page" style="width:100%;height:100%;overflow-y: auto;padding-top: 10px;">
    <div class="panel-body" style="width:80%;margin: 0 auto;">
        <div style="width:100%;" class="form-horizontal margin-0">
            <div class="form-group">
                <label class="col-sm-2 control-label">任务名称：</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="task_name" ng-model="row.name">
                </div>
                <span class="text-danger mt5 fl">*</span>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">巡检模板：</label>
                <div class="col-sm-8">
                    <input type="text" style="width:100%" ng-model="row.check_module_id" cw-selectstr2="moduleOption"/>
                </div>
                <span class="text-danger mt5 fl">*</span>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">接收报告邮箱：</label>
                <div class="col-sm-8">
                    <input type="text" style="width:100%" ng-model="row.receivers" cw-selectstr2="reveiveOpt"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">执行账号：</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="row.account">
                </div>
                <span class="text-danger mt5 fl">*</span>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">执行时间：</label>
                <div class="col-sm-10">
                    <div style="width:100%;height: 40px;padding-top: 5px;">
                        <input ng-click="change_value('01')" type="radio" checked name="time_select" ng-model="time_type"
                               value="NOW"/><label>立即</label></div>
                    <div style="width:100%;height: 40px;">
                        <div style="float:left;height: 40px;padding-top: 5px;">
                            <input ng-click="change_value('02')" type="radio" name="time_select" value="TIMER" ng-model="time_type"/>
                            <label>定时 ———</label>
                        </div>
                        <div style="margin-left: 15px;height: 35px;padding:2.5px;float:left;">
                            <label>开始时间：</label>
                            <input type="text" style="width: 120px;" class="form-control" id="date_start"
                                   placeholder="选择日期...">
                            <input id="timer_hour" disabled="disabled" style="width: 50px;"
                                   type="text"> 时
                            <input id="timer_minu" disabled="disabled"
                                   style="width: 50px;" type="text"> 分
                        </div>
                    </div>
                    <div style="width:100%;height: 40px;">
                        <div style="float:left;height: 40px;padding-top:5px;">
                            <input ng-click="change_value('03')" type="radio" name="time_select" ng-model="time_type"
                                   value="CYCLE"/>
                            <label>周期 ———</label>
                        </div>
                        <div style="margin-left: 15px;height: 35px;padding:2.5px;float:left;">
                            <label>开始时间：
                                <input type="text" class="form-control" id="per_date"
                                       style="width: 120px;" placeholder="选择日期...">
                                <input id="per_hour" disabled="disabled" class="period" style="width: 50px;"
                                       type="text"> 时
                                <input id="per_minu" class="period" disabled="disabled"
                                       style="width: 50px;" type="text"> 分， 每隔：
                                <input id="day_long" disabled="disabled" class="period" type="text"
                                       style="width: 40px; margin: 0 5px"/>
                                <select id="interval_type" disabled="disabled" style="height: 26px;">
                                    <!--<option value="H">小时</option>-->
                                    <option value="D">天</option>
                                </select>
                                执行一次
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">巡检服务器：</label>
                <div class="col-sm-8">
                    <button ng-click="select_server()" class="btn btn-sm btn-primary">选择服务器</button>
                    <span class="text-danger mt5 ">*</span>
                </div>
            </div>
            <div ng-if="serverSelect.length>0" class="form-group">
                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-8">
                    <div cw-adaptbody="405" ng-grid="gridOption" style="width:100%;overflow-y: auto;overflow-x: hidden"></div>
                </div>
            </div>
            <div style="width:100%;text-align: center;margin-top: 20px;">
                <button ng-click="confirm()" class="btn btn-sm btn-info">确定</button>
                <button style="margin-left: 20px;" class="btn btn-sm btn-message" ui-sref="checkSearch">
                    取消
                </button>
            </div>
        </div>
    </div>
</div>
